{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<h1>Добро пожаловать на сайт рецептов!</h1>
<div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4">
        <div class="card mb-4">
            {% if recipe.image %}
                <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}" style="width:348px; height: 244px;">
            {% else %}
                <p>Изображение не указано</p>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">{{ recipe.description|truncatewords:20 }}</p>
                <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
